
body {
    background: linear-gradient(55deg, #90afc5 0%, #336b87 15%, #90afc5 35%, #336b87 50%, #90afc5 65%, #336b87 85%);
}

.introContainer {
  max-width:830px;
  margin:auto;
}

.artistWrap {
  display:flex;
  flex-wrap:wrap;
}

.artistThumb {
  float: left;
  width: 20%;
  position: relative;
  background-size: cover;
  background-position: center;
  height:0;
  padding-bottom:20%;
}

.modalBackdrop {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.8);
  z-index:2
}

.modalInner {
  border-radius:25px;
  background-color:rgba(0,0,0,0.6);
  padding:20px;
}


.modalHeader, .modalContent {
  display: flex;
  width:100%;

}

.modalRight {
  padding-left:20px;
  flex-grow: 1;
}

.artistDescription {
  padding-right:20px;
  color:white;
}


@media(max-width: 992px) {

  .modalContent {
    flex-wrap: wrap-reverse;
  }

  .modalRight {
    padding-left:0px;
  }

  .artistThumb  {
    width: 33.33%;
    padding-bottom: 33.33%;
  }
}

@media(max-width: 767px) {
  .artistThumb  {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media(max-width: 576px) {


  .artistThumb  {
    width: 100%;
    padding-bottom: 20%;
  }
}
